<template>
    <form @submit.prevent="submitForm" class="w-100">
        <div>
            <label for="firstName" class="form-label">Your name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" v-model="form.name" required>
        </div>
        <div>
            <label for="phone" class="form-label">Your phone</label>
            <input type="text" class="form-control" id="phone" placeholder="" v-model="form.phone" required>
        </div>
        <div>
            <label for="message" class="form-label">Your message</label>
            <textarea type="text" class="form-control" id="message" placeholder="" v-model="form.message" required></textarea>
        </div>
      <div class="mt-4">
          <button class="w-100 btn btn-primary " type="submit">Отправить</button>
      </div>
    </form>
</template>

<script>
export default {
    data() {
        return {
            form: {
                name: '',
                phone: '',
                message: ''
            }
        }
    },
    methods: {
        async submitForm() {
            try {
                await axios.post('/api/feedback', this.form);
                this.form = {
                    name:'',
                    phone:'',
                    message:'',
                }
                alert('Заявка отправлена');
            } catch (error) {
                alert('Ошибка при отправке');
            }
        }
    }
}
</script>
